<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content style="text-align: center">

  <form [formGroup]="myForm">




    <mat-form-field>
      <mat-icon matSuffix>mail</mat-icon>
      <input matInput placeholder="Email" formControlName="email">

      <mat-error *ngIf="email.invalid && email.touched">
        Your email does not look right!
      </mat-error>

    </mat-form-field>

    <hr>

    <mat-form-field>
      <mat-icon matSuffix>lock</mat-icon>
      <input type="password" placeholder="Password" matInput formControlName="password">

      <mat-hint align="start">Must have one letter, and one number</mat-hint>

      <mat-error *ngIf="password.invalid && password.touched">
        That password sucks!
      </mat-error>


    </mat-form-field>


  </form>

  <br>
  <br>
  <button [disabled]="myForm.invalid" (click)="login()" color="primary" mat-raised-button>Sign In</button>


</ion-content>