<ion-app>
  
  <ion-menu side="start" type="push" #sidemenu>
     
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-content>

      <ion-list>
        <ion-item routerLink="/" (click)="sidemenu.close()">
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="/adpost" (click)="sidemenu.close()">
          <ion-label>Ad Posts</ion-label>
        </ion-item>
        <ion-item routerLink="/adpost/create" (click)="sidemenu.close()">
          <ion-label>Create Ad</ion-label>
        </ion-item>
        <ion-item routerLink="/register" (click)="sidemenu.close()">
          <ion-label>Register</ion-label>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>