<ion-app>
  
  <ion-menu side="start" type="overlay" #sidemenu>
     
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-content>

      <ion-list>
        <ion-item routerLink="/" (click)="sidemenu.close()">
          <ion-label>Home</ion-label>
        </ion-item>
    
        <ion-item *ngIf="!isLoggedIn" routerLink="/register" (click)="sidemenu.close()">
          <ion-label>Sign Up</ion-label>
        </ion-item>
        <ion-item *ngIf="!isLoggedIn" routerLink="/login" (click)="sidemenu.close()">
          <ion-label>Sign In</ion-label>
        </ion-item>

        <ion-item *ngIf="isLoggedIn" href="" (click)="sidemenu.close();signout()">
          <ion-label>Sign Out</ion-label>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>